.toggle-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to bottom, #fa9161, #f73b1c);
    padding: 67px 0 57px 0;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
}

.toggle-group h2 {
    font-size: 17px;
    font-weight: bold;
}

.toggle-group p {
    font-weight: bold;
    font-size: 14px;
}

.toggle-group .toggle {
    width: 305px;
    margin-bottom: 20px;
}